.body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.container-logo {
  display: flex;
  justify-content: center;
}
.title {
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 50px;
}
.container-perfis {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  
}
.img {
  height: 160px;
  width: 160px;
} 
.user {
  margin: 0px;
   width: 160px;
   height: 160px;
   border-radius: 10px;
   overflow: hidden;
}
.user img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.user:hover {
    border: 3px solid white;
    width: 154px;
    height: 154px;
    color: white;
}
.user:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.text {
  text-align: center;
  color: #9C9C9C;
  font-size: 14px;
  padding: 10px; 
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}
.container-button{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin:auto;
}
.link {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: black;
  font-weight: 550;
  border-radius: 10px;
  border: 1px solid white;
  width: 206px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.link:hover {
  color: black;
  background-color: white;
}
p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  }
