.body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.container-logo {
  display: flex;
  justify-content: center;
}
.title {
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 50px;
}
.container-perfis {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  
}
.img {
  height: 160px;
  width: 160px;
} 
.img:hover {
  transform: scale(1.2);
}
.user {
  margin: 0px;
   overflow: hidden;
   width: 160px;
   height: 160px;
   border-radius: 10px;
}

.text {
  text-align: center;
  color: #9C9C9C;
  font-size: 14px;
  padding: 10px; 
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}
.container-button {
  display: flex;
  justify-content: center;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid white;
  width: 206px;
  height: 50px;
  margin:auto;
  font-size: 16px;
}
.container-button:hover {
  background-color: white;
}
.link {
  text-decoration: none;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 550;
  color:white;
}
.user:hover {
  border: 3px solid white;
  width: 154px;
  height: 154px;
}
.link:visited {
 color: white;
}
.link:hover {
  color: black;
}

